transformers>=4.35.2,<=4.57.3
tokenizers
sentencepiece
shortuuid
pydantic
markdown2[all]
torch>=2.1.0
torchao>=0.6.0
accelerate>=0.34.1
peft>=0.13.0,<0.14.0
bitsandbytes>=0.45.5
deepspeed
timm
einops
einops-exts
unsloth
unsloth_zoo
opencv-python
opencv-contrib-python
imageio
decord
Pillow          
mmengine
scikit-learn
datasets>=3.4.1,<4.0.0
sacrebleu
evaluate
nltk
sqlitedict
pytablewriter
gradio
gradio_client
requests
httpx
uvicorn
fastapi
loguru
tenacity
hf_transfer
shortuuid
numpy<2.0
wandb
openai==1.54.0
albumentations
opencv-python-headless
protobuf
mamba-ssm==1.2.0
huggingface_hub>=0.34.0
tqdm